<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet/less" type="text/css" href="styles/index.less" /> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.8.1/less.min.js"></script> -->
    <!-- <style>
        body {
            font-size: 12px;
        }
        h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  margin: 0;
  padding: 0;
}
table,
tr,
th,
td,
tbody {
  box-sizing: border-box;
  display: block;
  border: 0;
}
p {
  margin-bottom: 16px;
  line-height: 1.7;
}
a {
  color: #557da1;
  text-decoration: none;
}
.container {
  margin: 0;
  padding: 64px 0;
  box-sizing: border-box;
  font-family: "lucida Grande", Verdana, "Microsoft YaHei";
  font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #737373;
  background: #f5f5f5;
  width: 100%;
}
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  margin-bottom: 64px;
  background: #fff !important;
  border-radius: 3px;
  overflow: hidden;
  padding: 0;
}
.paper .title {
  padding: 44px 0px !important;
  background: #557da1;
  width: 100% !important;
}
.paper .title h1 {
  color: #fff;
  /* line-height: 12px;
  margin: 0.67em 0; */
  font-size: 1.6em;
  padding: 0px 44px !important;
}
.paper .content {
  padding: 48px !important;
}

@media only screen and (max-width: 768px) {
    .paper .title {
        padding: 48px 8px !important;
    }
    .paper .title h1 {
        padding: 0 16px !important;
    }
    .paper .content {
        padding: 24px 8px !important;
    }
}

.paper .content .primary {
  color: #557da1;
  line-height: 1.25;
  font-family: Arial;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-size: 1.5em;
  font-weight: bold;
}

.paper .content .blue {
  color: #557da1;
}

.paper .content .primary a{
  text-decoration: underline;
  
}

.paper .table {
  /* border: 1px #666 solid; */
  border: 1px #eee solid;
  width: 100%;
  display: table;
}
.paper .table tr {
  display: table-row;
}
.paper .table tbody {
  display: table-row-group;
}
.paper .table th,
.paper .table td {
  display: table-cell;
  text-align: left;
  padding: 16px;
  border: 1px #eeeeee solid;
}
.paper .table th {
  padding: 24px 16px;
}
.paper .table .black {
  font-weight: bold;
}
.paper .address {
  padding: 16px;
  border: 1px solid #e4e4e4;
}
.paper .footer {
  color: #99b1c7;
  font-family: Arial;
  text-align: center;
  padding-bottom: 48px;
}
.code {
    font-size: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    padding: 16px;
    border-radius: 4px;
    letter-spacing: 12px;
}
.strong {
    font-weight: bolder;
}



    </style> -->
</head>



<body>
    <table><tr><td class="root">
        <table><tr><td class="container">





            <!-- Request an Account -->
            <table><tr><td class="paper">
                    <table style="display: block; width: 100%;">
                        <tbody style="display: block; width: 100%;">
                            <tr style="display: block; width: 100%;">
                                <td class="title" style="background-color: #1F6F94;color: #fff;display: block;width: 100%;padding: 48px 0;background: #557da1;">
                                    <h1 style="margin: 0; padding: 0 16px">Request an Account</h1>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table><tr><td class="content" style="padding: 16px 0;">
                        <p>Thank you for submitting your inquiry on RushParcel. We will process the request and get back to you as quickly as we can.</p>
    
                        <table class="table" cellspacing="0" style="border-collapse:collapse;border:1px solid #eee;margin: 0 auto;">
                            <tr><th style="border:1px solid #eee;">Company:</th><td style="border:1px solid #eee;"  colSpan="2">christina</td></tr>
                            <tr><th style="border:1px solid #eee;">Address:</th><td style="border:1px solid #eee;"  colSpan="2">wwwwwwwwwwwwwwwwwwwww</td></tr>
                            <tr><th style="border:1px solid #eee;">Email:</th><td style="border:1px solid #eee;"  colSpan="2">christina@hjautogroup.com</td></tr>
                            <tr><th style="border:1px solid #eee;">Phone:</th><td style="border:1px solid #eee;"  colSpan="2">6264619088</td></tr>
                            <tr><th style="border:1px solid #eee;">Contact Person:</th><td style="border:1px solid #eee;"  colSpan="2">qqqqqqqqqqqqqqqq</td></tr>
                            <tr><th style="border:1px solid #eee;">Weekly Volume (Pieces):</th><td style="border:1px solid #eee;"  colSpan="2">999</td></tr>
                            <tr><th style="border:1px solid #eee;">How Did You Hear About Us:</th><td style="border:1px solid #eee;"  colSpan="2">qqqqqqqqqqqqqqqq</td></tr>
                            <tr><th style="border:1px solid #eee;">Interested Services:</th><td style="border:1px solid #eee;"  colSpan="2">
                                <p>Overnight</p>
                                <p>Small Pack</p>
                                <p>Parcel Ground</p>
                                <p>LTL/FTL</p>
                                <p>International Freight</p>
                                <p>Transloading</p>
                                <p>Fulfillment</p>
                                <p>Drayage</p>
                            </td></tr>
                        </table>
    
                        <br>
                        <p>Best，</p>
                        <p>The RushParcel Team</p>
                   
                    </td></tr></table>
                    <table><tr><td class="footer">
                        RushParcel
                    </td></tr></table>
                </td></tr></table>
                <!-- Request an Account end -->



            <!-- 充值成功 start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1>Deposit Confirmation</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>Thank you for making a deposit. Your deposit amount is <b>$200.00</b>.</p>

                    <p>Best，</p>
                    <p>The RushParcel Team</p>

                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- 充值成功 end -->




            <!-- 新订单提醒 New customer order start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1>Your Order Confirmation</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>Thank you for your order on RushParcel. Your order details are shown below for your reference.</p>
                    <p class="primary"><a href="https://rushparceltest.rpgstarship.com/oms" target="_blank" rel="noopener">Order #119224561</a> (May 20, 2019)</p>
                    <table class="table" cellspacing="0">

                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>FedEx PRIORITY OVERNIGHT</td>
                            <td>1</td>
                            <td>$17.42</td>
                        </tr>
                        <tr>
                            <th colSpan="2">Subtotal:</th>
                            <td>$17.42</td>
                        </tr>
                        <tr>
                            <th colSpan="2">Payment Method:</th>
                            <td>Account Balance Payment:<br>Preload Credit in My Account</td>
                        </tr>
                        <tr>
                            <th colSpan="2">Total:</th>
                            <td>$18.24</td>
                        </tr>
                    </table>

                    <br>
                    <p>Best，</p>
                    <p>The RushParcel Team</p>
                    
                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- 新订单提醒 New customer order end -->

    


            <!--  LTL订单提醒 Your Shipment Was Delivered start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1> LTL Order Confirmation</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>Thank you for booking your shipment on RushParcel. Your order details are shown below and your BOL is attached for your reference.</p>

                    <p class="primary"><a href="https://rushparceltest.rpgstarship.com/oms" target="_blank" rel="noopener">Order #119224561</a> (May 20, 2019)</p>

                    <table class="table" cellspacing="0">

                        <tr>
                            <th>Product</th>
                            <th>Pallets</th>
                            <th>Total Weight</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>RPG LTL</td>
                            <td>3</td>
                            <td>3000</td>
                            <td>$18.97</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td  colSpan="3">$200.00</td>
                        </tr>
                    </table>

                    <br>
                    <p>Best，</p>
                    <p>The RushParcel Team</p>
                    
                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- LTL订单提醒 Your Shipment Was Delivered end -->



            <!-- 取消订单 New customer order start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1>Order Cancellation Confirmation</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>Thank you for using RushParcel. Your cancellation details are shown below for your reference.</p>
                    
                    <p class="primary"><a href="https://rushparceltest.rpgstarship.com/oms" target="_blank" rel="noopener">Order #119224561</a> (May 20, 2019)</p>

                    <table class="table" cellspacing="0">

                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>FedEx PRIORITY OVERNIGHT</td>
                            <td>1</td>
                            <td>$17.42</td>
                        </tr>
                        <tr>
                            <th colSpan="2">Subtotal:</th>
                            <td>$17.42</td>
                        </tr>
                        <tr>
                            <th colSpan="2">Payment Method:</th>
                            <td>Account Balance Payment:<br>Preload Credit in My Account</td>
                        </tr>
                        <tr>
                            <th colSpan="2">Total:</th>
                            <td>$18.24</td>
                        </tr>
                    </table>
                    
                    <br>
                    <p>Best，</p>
                    <p>The RushParcel Team</p>
                    
                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- 取消订单 New customer order end -->




            <!-- low balance start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1>Low Balance Notification</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>This is a friendly reminder that your account balance is low. Please make deposit to avoid insufficient balance when making future purchases.</p>
                    <p>Best，</p>
                    <p>The RushParcel Team</p>
                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- low balance end -->






            <!-- 修改密码 start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1>Password Change Notification</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>There is an update to your password made on January 7, 2019 at 3:18:44 PM. If you did not make the change, you should contact Customer Service right away.</p>
                    <p>Best，</p>
                    <p>The RushParcel Team</p>
                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- 修改密码 end -->


            



            <!--  Pickup Cancellation Confirmation Your Shipment Was Delivered start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1>Pickup Schedule Confirmation</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>Thank you for using RushParcel. Your pickup request has been submitted.</p>
                    <p class="primary"><a href="https://rushparceltest.rpgstarship.com/oms" target="_blank" rel="noopener">Pickup Confirmation #119224561</a> (May 20, 2019)</p>
                    <table class="table" cellspacing="0">
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>Pickup Request Refund</td>
                            <td>1</td>
                            <td>$8.00</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td  colSpan="2">$8.00</td>
                        </tr>
                    </table>
                    <br>
                    <p>Best，</p>
                    <p>The RushParcel Team</p>
                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- Pickup Cancellation Confirmation Your Shipment Was Delivered end -->


                



            <!--  pickup cancelled Your Shipment Was Delivered start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1>Pickup Cancellation Confirmation</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>Thank you for using RushParcel. Your pickup request has been cancelled.</p>

                    <p class="primary"><a href="https://rushparceltest.rpgstarship.com/oms" target="_blank" rel="noopener">Cancelled Pickup Confirmation #119224561</a> (May 20, 2019)</p>

                    <table class="table" cellspacing="0">
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>Pickup Request Refund</td>
                            <td>1</td>
                            <td>$8.00</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td  colSpan="2">$8.00</td>
                        </tr>
                    </table>
                    <br>
                    <p>Best，</p>
                    <p>The RushParcel Team</p>
                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- pickup cancelled Your Shipment Was Delivered end -->





            <!-- Quote Request start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1>Quote Request From Bill</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>Thank you for submitting your inquiry on RushParcel. We will process the request and get back to you as quickly as we can.</p>

                    <table class="table" cellspacing="0">
                        <tr><th>Name:</th><td  colSpan="2">christina</td></tr>
                        <tr><th>Email:</th><td  colSpan="2">christina@hjautogroup.com</td></tr>
                        <tr><th>Phone:</th><td  colSpan="2">6264619088</td></tr>
                        <tr><th>Origination:</th><td  colSpan="2">qqqqqqqqqqqqqqqq</td></tr>
                        <tr><th>Destination:</th><td  colSpan="2">wwwwwwwwwwwwwwwwwwwww</td></tr>
                        <tr><th>Content and Freight:</th><td  colSpan="2">6264619088</td></tr>
                        <tr><th>Number of Pallets:</th><td  colSpan="2">123</td></tr>
                        <tr><th>Total Weight:</th><td  colSpan="2">456</td></tr>
                        <tr><th>Declared Value:</th><td  colSpan="2">$789.00</td></tr>
                        <tr><th>Request Type:</th><td  colSpan="2">FTL</td></tr>
                        <tr><th>Special Request & Handling Instruction:</th><td  colSpan="2">
                                <p>Inside Pickup</p>
                                <p>Lift Gate Delivery</p>
                                <p>Inside Delivery</p>
                                <p>Lift Gate Pickup</p>
                                <p>Residential Delivery</p>
                                <p>Residential Pickup</p>
                                <p>Restricted Access</p>
                                <p>Trade show Pickup</p>

                        </td></tr>
                    </table>

                    <br>
                    <p>Best，</p>
                    <p>The RushParcel Team</p>
               
                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- Quote Request end -->





            <!--  MWT订单提醒 Your Shipment Was Delivered start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1> MWT Order Confirmation</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>Thank you for your MWT order on RushParcel. Your order details are shown below for your reference.</p>

                    <p class="primary"><a href="https://rushparceltest.rpgstarship.com/oms" target="_blank" rel="noopener">Order #119224561</a> (May 20, 2019)</p>

                    <table class="table" cellspacing="0">
    
                        <tr>
                            <th>Product</th>
                            <th># Of Cartons</th>
                            <th>Total Weight</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>UPS MWT</td>
                            <td>1</td>
                            <td>900</td>
                            <td>$18.97</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td  colSpan="3">$1899.00</td>
                        </tr>
                    </table>
                    <br>
                    <p>Best，</p>
                    <p>The RushParcel Team</p>
                
                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- MWT订单提醒 Your Shipment Was Delivered end -->

            


            


            <!-- Failed order start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1>Failed Order Notification</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>Your order has failed due to the following reason: XXXXXXXXXXXXXX. Your order details are shown below for your reference.</p>
                    <p class="primary"><a href="https://rushparceltest.rpgstarship.com/oms" target="_blank" rel="noopener">Order #119224561</a> (May 20, 2019)</p>

                    <table class="table" cellspacing="0">

                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>FedEx PRIORITY OVERNIGHT</td>
                            <td>1</td>
                            <td>$17.42</td>
                        </tr>
                        <tr>
                            <th colSpan="2">Subtotal:</th>
                            <td>$17.42</td>
                        </tr>
                        <tr> 
                            <th colSpan="2">Payment Method:</th>
                            <td>Account Balance Payment:<br>Preload Credit in My Account</td>
                        </tr>
                        <tr>
                            <th colSpan="2">Total:</th>
                            <td>$18.24</td>
                        </tr>
                    </table>

                    <br>
                    <p>Best，</p>
                    <p>The RushParcel Team</p>
                
                    
                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- Failed order end -->




            <!-- Your Shipment Was Deliverd start -->
            <table><tr><td class="paper">
                <table><tr><td class="title">
                    <h1>Your Shipment was Delivered</h1>
                </td></tr></table>
                <table><tr><td class="content">
                    <p>Dear Customer XXX,</p>
                    <p>Your shipment with Tracking #787648114446 from Order #123123123123 was delivered.</p>
                    <p>Thank you for using RushParcel.</p>
                    <p>--</p>
                    <p>We Offer the Best Rate on Overnight Shipping - Try It Out!</p>
                    <p>Best，</p>
                    <p>The RushParcel Team</p>
                </td></tr></table>
                <table><tr><td class="footer">
                    RushParcel
                </td></tr></table>
            </td></tr></table>
            <!-- Your Shipment Was Deliverd end -->















        </td></tr></table>
    </td></tr></table>
</body>

</html>